@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #ecf8f9;
  font-family: "Space Grotesk", Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.calculator {
  background-color: #5d12d2;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgba(93, 18, 210, 0.3);
}

.screen {
  width: 100%;
  background-color: #98E4FF;
  padding: 4px;
  font-size: 2.4rem;
  text-align: end;
  height: 55px;
  /* justify-content: center; */
}

.buttons {
  /* width: 232px; */
  width: 272px;
  display: flex;
  flex-wrap: wrap;
}

button {
  color: #ffffff;
  background-color: #a555ec;
  font-size: 2.4rem;
  font-family: "Space Grotesk", Arial, sans-serif;
  width: 60px;
  height: 60px;
  border-radius: 12px;
  border: none;
  margin: 4px;
  cursor: pointer;
  transition: background-color 0.15s;
}

button:hover {
  background-color: #8b4ad4;
}

button:active {
  background-color: #b766ff;
}

.operators {
  background-color: #f99417;
  transition: background-color 0.15s;
}

.operators:hover {
  background-color: #e98300;
}

.operators:active {
  background-color: #ffab4c;
}

#zero {
  width: 128px;
}

#equals {
  background-color: #f31559;
  transition: background-color 0.15s;
}

#equals:hover {
  background-color: #e80e4e;
}

#equals:active {
  background-color: #ff1e6b;
}

#clear {
  width: 128px;
  background-color: #b0578d;
  font-size: 2rem;
  transition: background-color 0.15s;
}

#clear:hover {
  background-color: #a74f80;
}

#clear:active {
  background-color: #b56599;
}
